@charset "UTF-8";
/* line 14, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 110, ./src/stylesheets/utils.sass */
.left {
  float: left;
}

/* line 113, ./src/stylesheets/utils.sass */
.right {
  float: right;
}

/* line 129, ./src/stylesheets/utils.sass */
.tr {
  text-align: right;
}

/* line 135, ./src/stylesheets/utils.sass */
strong {
  font-weight: bold;
}

/* line 139, ./src/stylesheets/utils.sass */
div {
  *zoom: 1;
}
/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
div:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 141, ./src/stylesheets/utils.sass */
.c {
  clear: both;
}

/* line 210, ./src/stylesheets/utils.sass */
.abs {
  position: absolute;
}

/* line 213, ./src/stylesheets/utils.sass */
.rel {
  position: relative;
}

/* line 319, ./src/stylesheets/utils.sass */
table.super_padding td {
  padding: 10px;
}

/* line 321, ./src/stylesheets/utils.sass */
table td.linkage a {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66d198), color-stop(100%, #50a477));
  background-image: -moz-linear-gradient(top, #66d198 0%, #50a477 100%);
  background-image: linear-gradient(top, #66d198 0%, #50a477 100%);
  padding: 4px 10px;
  border: 1px solid #50a477;
  border-bottom: 2px solid #33694c;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  width: auto;
  display: inline;
}

/* line 332, ./src/stylesheets/utils.sass */
a.buttoning {
  font-family: "museo-sans-1", "museo-sans-2";
  font-weight: 300;
  font-variant: normal;
  letter-spacing: -0.05em;
  color: white;
  display: block;
  margin: 0 0 10px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66d198), color-stop(100%, #50a477));
  background-image: -moz-linear-gradient(top, #66d198 0%, #50a477 100%);
  background-image: linear-gradient(top, #66d198 0%, #50a477 100%);
  border: 1px solid #50a477;
  border-bottom: 2px solid #33694c;
  text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 2px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
  padding: 8px 5px;
  margin: 0 15px 15px 15px;
  text-align: center;
}
/* line 314, ./src/stylesheets/utils.sass */
a.buttoning:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #50a477), color-stop(100%, #33694c));
  background-image: -moz-linear-gradient(top, #50a477 0%, #33694c 100%);
  background-image: linear-gradient(top, #50a477 0%, #33694c 100%);
  border-bottom: 2px solid #333333;
  text-decoration: none;
}

/* line 339, ./src/stylesheets/utils.sass */
small {
  font-size: 9px;
}

/* line 342, ./src/stylesheets/utils.sass */
.clear {
  clear: both;
}

/* line 345, ./src/stylesheets/utils.sass */
.tr {
  text-align: right;
}

/* line 348, ./src/stylesheets/utils.sass */
p {
  margin: 5px 0 10px 0;
}

/* line 353, ./src/stylesheets/utils.sass */
div {
  *zoom: 1;
}
/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
div:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 356, ./src/stylesheets/utils.sass */
.c {
  *zoom: 1;
}
/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.c:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 359, ./src/stylesheets/utils.sass */
.hidden {
  display: none;
}

/* line 362, ./src/stylesheets/utils.sass */
li {
  list-style: none;
}

/* line 365, ./src/stylesheets/utils.sass */
.bullets {
  margin: 5px 0 15px 20px;
}
/* line 367, ./src/stylesheets/utils.sass */
.bullets li {
  list-style: disc;
}

/* line 370, ./src/stylesheets/utils.sass */
.tr, div.tr, span.tc {
  text-align: right;
}

/* line 373, ./src/stylesheets/utils.sass */
.tc, div.tc, span.tc, td.tc {
  text-align: center;
}

/* line 376, ./src/stylesheets/utils.sass */
div, img, form, ul, td, th {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: left;
}
/* line 382, ./src/stylesheets/utils.sass */
div .clear, img .clear, form .clear, ul .clear, td .clear, th .clear {
  clear: both;
}

/* line 385, ./src/stylesheets/utils.sass */
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* line 389, ./src/stylesheets/utils.sass */
.bullets {
  margin: 15px 0 15px 15px;
}

/* line 392, ./src/stylesheets/utils.sass */
.no_bullets {
  list-style: none;
  margin: 0 0 0 0;
}

/* line 397, ./src/stylesheets/utils.sass */
.bullets li {
  margin: 3px 0;
}

/* line 10 */
.container {
  margin: 0 auto;
  padding: 0 0 0 0;
  height: 100%;
  width: 960px;
}

/* line 16 */
.right_column {
  width: 520px;
  float: left;
}

/* line 20 */
.left_column {
  width: 400px;
  float: left;
  margin-right: 40px;
}

/* line 25 */
.content {
  padding-top: 110px;
}

/* line 28 */
.top {
  background: url("/images/content-bg.png") no-repeat center 100px;
}

@font-face {
  font-family: "Pictos";
  src: url("../fonts/pictos-web.eot");
  src: local("☺");
  src: url("../fonts/pictos-web.svg#webfontIyfZbseF") format("svg");
  src: url("../fonts/pictos-web.woff") format("woff");
  src: url("../fonts/pictos-web.ttf") format("truetype");
}

/* line 39 */
body {
  font-family: "museo-sans-1", "museo-sans-2", helvetica, arial;
  font-font-size: 10pt;
  color: #2b1f0d;
  background: #cccccc url("/images/bg.png") repeat top left;
}

/* line 46 */
#reel {
  margin-top: 100px;
  padding-top: 120px;
}

/* line 50 */
#about {
  margin: 100px 0 80px 0;
  padding-top: 1px;
}

/* line 55 */
#contact {
  background: #111111 url("/images/footer-bg.png") repeat top left;
  border-top: 1px solid white;
  margin-top: 200px;
  padding-bottom: 100px;
}

/* line 61 */
#arrow-wrapper {
  position: fixed;
  bottom: 0;
  right: 50%;
  height: 100px;
}

/* line 67 */
#arrow {
  position: relative;
  overflow: hidden;
  background-color: black;
  border: 5px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

/* line 77 */
#arrow p {
  font-family: "Pictos";
  font-size: 60px;
  color: white;
  margin: 5px 3px 0 3px;
  padding: 0;
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: pointer;
}

/* line 88 */
p {
  font-family: "museo-sans-1", "museo-sans-2", helvetica, arial;
  color: #111111;
}
/* line 92 */
p.guys {
  text-align: center;
  margin: 50px auto;
  padding: 0;
  position: relative;
  color: #333333;
  text-shadow: 1px 1px 0 white;
}
/* line 99 */
p.title-left {
  font-size: 140px;
  font-weight: 900;
  padding: 0;
  margin-top: -3px;
  display: block;
  float: left;
  letter-spacing: -0.04em;
}
/* line 108 */
p.title-right {
  font-size: 140px;
  font-weight: 900;
  padding: 0;
  margin-top: -3px;
  display: block;
  float: right;
  letter-spacing: -0.04em;
}
/* line 117 */
p.recent {
  color: #e7a933;
  font-size: 30px;
  font-weight: 100;
  position: relative;
  left: 120px;
}
/* line 124 */
p.why {
  color: #e7a933;
  font-size: 30px;
  font-weight: 100;
  bottom: -170px;
  position: relative;
  left: 120px;
}
/* line 132 */
p.video-title {
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  margin: 10px 0 0 0;
  padding: 0;
  color: #333333;
  text-align: right;
  line-height: 1.5em;
}
/* line 142 */
p.who-we-are-content {
  color: #444444;
  width: 400px;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 120px 0 0 46px;
}
/* line 150 */
p.diagram-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 0 white;
}
/* line 157 */
p.diagram-content {
  color: #444444;
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

/* line 165 */
.border-bottom {
  border-bottom: 1px solid white;
}

/* line 169 */
h2.make {
  font-size: 42px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #111111;
  margin-top: 76px;
  line-height: 0.9em;
  text-shadow: 1px 1px 0 white;
}
/* line 179 */
h2.about-header {
  font-size: 62px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #111111;
  text-shadow: 1px 1px 0 white;
  margin: 100px 0 50px 0;
  line-height: 0.7em;
}
/* line 189 */
h2.tell-us {
  font-size: 62px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 0 white;
  margin: 100px 0 70px -20px;
  display: block;
  line-height: 0.7em;
  text-shadow: 1px 1px 0 #2b1f0d, 2px 2px 0 #5d9732;
}

/* line 202 */
h3.who-we-are {
  color: white;
  font-size: 24px;
  padding: 10px 0 12px 10px;
  margin: 40px 0 40px 0;
  background: #111111 url("/images/footer-bg.png") repeat top left;
  text-shadow: 1px 1px 0 #2b1f0d, 2px 2px 0 #5d9732;
}
/* line 210 */
h3.our-process {
  display: block;
  position: relative;
  color: white;
  font-size: 24px;
  padding: 10px 0 12px 10px;
  margin: -80px 0 40px 0;
  background: #111111;
  text-shadow: 1px 1px 0 #2b1f0d, 2px 2px 0 #5d9732;
  z-index: -1000;
}
/* line 221 */
h3.behind {
  color: white;
  font-size: 24px;
}

/* line 226 */
span.dont {
  font-size: 26px;
  font-weight: 100;
  color: #333333;
}

/* line 232 */
span.standout {
  font-weight: 900;
  color: #5d9732;
  text-shadow: 1px 1px 0 white;
}

/* line 237 */
span.standout2 {
  color: #111111;
  font-style: italic;
  text-shadow: 1px 1px 0 white;
}

/* line 243 */
.luchador {
  background: url(/images/luchador.png) no-repeat top left;
  width: 960px;
  height: 500px;
  margin-top: -60px;
  z-index: 20;
}

/* line 250 */
.eyes {
  background: url(/images/eyes.png) no-repeat 586px 206px;
  width: 960px;
  height: 500px;
}

/* line 255 */
.eyes:hover {
  background: url(/images/eyes-hover.png) no-repeat 586px 203px;
  width: 960px;
  height: 500px;
}

/* line 260 */
.contact-form {
  background: #222222;
  padding: 30px;
  height: 420px;
  width: 350px;
  margin-left: 20px;
  border: 1px solid #666666;
}

/* line 268 */
.form {
  height: 300px;
  margin-top: -80px;
}

/* line 272 */
.facebook {
  background: white;
  width: 350px;
  height: 480px;
  display: block;
  margin-left: 40px;
}

/* line 279 */
img.logo {
  width: 200px;
  height: 237px;
  display: block;
  margin-top: -50px;
  margin-left: 310px;
  margin-bottom: 0;
}

/* line 287 */
img.diagram {
  width: 960px;
  height: 190px;
  display: block;
}

/* line 292 */
.top-wrapper {
  background: black;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  top: 0;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

/* line 304 */
.chubby {
  font-size: 18px;
  font-weight: 600;
  color: #111111;
}

/* line 310 */
.title-wrapper {
  margin: 80px auto 0 auto;
  z-index: 10;
  border-top: 10px solid #5d9732;
  border-bottom: 10px solid #5d9732;
  height: 130px;
  display: block;
  width: 900px;
}

/* line 319 */
.into-videos {
  margin-top: 0;
}

/* line 322 */
.nav {
  width: 702px;
  margin: 14px auto;
}

/* line 326 */
.nav ul li {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  padding: 0 10px;
}

/* line 332 */
.nav ul li.pictos {
  font-family: "Pictos";
  font-size: 14px;
  top: -3px;
  position: relative;
  color: white;
}

/* line 340 */
.nav a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 0 #2b1f0d, 2px 2px 0 #5d9732;
  cursor: pointer;
}

/* line 346 */
.nav a:hover {
  color: #5d9732;
  text-decoration: none;
  text-shadow: 1px 1px 0 #2b1f0d, 2px 2px 0 #5d9732;
  cursor: pointer;
}

/* line 352 */
a.our-reel {
  color: #5d9732;
  cursor: pointer;
}

/* line 356 */
.block-first {
  float: left;
  margin-right: 50px;
}

/* line 360 */
.block-second {
  float: left;
}

/* line 363 */
.breaker {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid white;
}

/* line 368 */
.featured {
  position: relative;
  z-index: 10;
  padding: 2px;
  border: 8px solid #2b1f0d;
  background: white;
}

/* line 375 */
.featured:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid black;
}

/* line 386 */
.footer {
  height: 50px;
  background: #222222;
  border-top: 1px solid #666666;
}

/* line 391 */
.footer p {
  color: white;
  text-align: center;
  margin: 20px 0;
}

/* line 396 */
.footer a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 0 #2b1f0d, 2px 2px 0 #5d9732;
}

/* line 401 */
.footer a:hover {
  color: #5d9732;
  text-decoration: none;
  text-shadow: 1px 1px 0 #2b1f0d, 2px 2px 0 #5d9732;
}
