/* line 17, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 110, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.left {
  float: left;
}

/* line 113, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.right {
  float: right;
}

/* line 129, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.tr {
  text-align: right;
}

/* line 135, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
strong {
  font-weight: bold;
}

/* line 139, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
div {
  *zoom: 1;
}
/* line 38, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
div:after {
  content: "";
  display: table;
  clear: both;
}

/* line 141, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.c {
  clear: both;
}

/* line 210, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.abs {
  position: absolute;
}

/* line 213, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.rel {
  position: relative;
}

/* line 319, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
table.super_padding td {
  padding: 10px;
}

/* line 321, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
table td.linkage a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66d198), color-stop(100%, #50a477));
  background-image: -webkit-linear-gradient(top, #66d198, #50a477);
  background-image: -moz-linear-gradient(top, #66d198, #50a477);
  background-image: -o-linear-gradient(top, #66d198, #50a477);
  background-image: -ms-linear-gradient(top, #66d198, #50a477);
  background-image: linear-gradient(top, #66d198, #50a477);
  padding: 4px 10px;
  border: 1px solid #50a477;
  border-bottom: 2px solid #33694c;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  width: auto;
  display: inline;
}

/* line 332, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
a.buttoning {
  font-family: "museo-sans-1", "museo-sans-2";
  font-weight: 300;
  font-variant: normal;
  letter-spacing: -0.05em;
  color: white;
  display: block;
  margin: 0 0 10px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66d198), color-stop(100%, #50a477));
  background-image: -webkit-linear-gradient(top, #66d198, #50a477);
  background-image: -moz-linear-gradient(top, #66d198, #50a477);
  background-image: -o-linear-gradient(top, #66d198, #50a477);
  background-image: -ms-linear-gradient(top, #66d198, #50a477);
  background-image: linear-gradient(top, #66d198, #50a477);
  border: 1px solid #50a477;
  border-bottom: 2px solid #33694c;
  text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 2px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
  padding: 8px 5px;
  margin: 0 15px 15px 15px;
  text-align: center;
}
/* line 314, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
a.buttoning:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #50a477), color-stop(100%, #33694c));
  background-image: -webkit-linear-gradient(top, #50a477, #33694c);
  background-image: -moz-linear-gradient(top, #50a477, #33694c);
  background-image: -o-linear-gradient(top, #50a477, #33694c);
  background-image: -ms-linear-gradient(top, #50a477, #33694c);
  background-image: linear-gradient(top, #50a477, #33694c);
  border-bottom: 2px solid #333333;
  text-decoration: none;
}

/* line 339, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
small {
  font-size: 9px;
}

/* line 342, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.clear {
  clear: both;
}

/* line 345, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.tr {
  text-align: right;
}

/* line 348, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
p {
  margin: 5px 0 10px 0;
}

/* line 353, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
div {
  *zoom: 1;
}
/* line 38, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
div:after {
  content: "";
  display: table;
  clear: both;
}

/* line 356, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.c {
  *zoom: 1;
}
/* line 38, /Users/allanbranch/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.c:after {
  content: "";
  display: table;
  clear: both;
}

/* line 359, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.hidden {
  display: none;
}

/* line 362, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
li {
  list-style: none;
}

/* line 365, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.bullets {
  margin: 5px 0 15px 20px;
}
/* line 367, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.bullets li {
  list-style: disc;
}

/* line 370, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.tr, div.tr, span.tc {
  text-align: right;
}

/* line 373, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.tc, div.tc, span.tc, td.tc {
  text-align: center;
}

/* line 376, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
div, img, form, ul, td, th {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: left;
}
/* line 382, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
div .clear, img .clear, form .clear, ul .clear, td .clear, th .clear {
  clear: both;
}

/* line 385, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* line 389, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.bullets {
  margin: 15px 0 15px 15px;
}

/* line 392, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.no_bullets {
  list-style: none;
  margin: 0 0 0 0;
}

/* line 397, /Users/allanbranch/rails/lessfilms/src/stylesheets/utils.sass */
.bullets li {
  margin: 3px 0;
}

/* line 10 */
.container {
  margin: 0 auto;
  padding: 0 0 0 0;
  height: 100%;
  width: 960px;
}

/* line 16 */
.right_column {
  width: 520px;
  float: left;
}

/* line 20 */
.left_column {
  width: 400px;
  float: left;
  margin-right: 40px;
}

/* line 25 */
.content {
  padding-top: 50px;
}

/* line 28 */
.top {
  background: url("/images/content-bg.png") no-repeat center 100px;
}

@font-face {
  font-family: "Pictos";
  src: url("../fonts/pictos-web.eot");
  src: local("☺");
  src: url("../fonts/pictos-web.svg#webfontIyfZbseF") format("svg");
  src: url("../fonts/pictos-web.woff") format("woff");
  src: url("../fonts/pictos-web.ttf") format("truetype");
}

/* line 39 */
body {
  font-family: "museo-sans-1", "museo-sans-2", helvetica, arial;
  font-font-size: 10pt;
  color: #2b1f0d;
  background: #cccccc url("/images/bg.png") repeat top left;
}

/* line 46 */
#reel {
  margin-top: 50px;
  padding-top: 50px;
}

/* line 50 */
#about {
  margin: 100px 0 80px 0;
  padding-top: 1px;
}

/* line 55 */
#contact {
  margin-top: 50px;
  padding-bottom: 50px;
}

/* line 60 */
#arrow-wrapper {
  position: fixed;
  bottom: 0;
  right: 50%;
  height: 100px;
}

/* line 66 */
#arrow {
  position: relative;
  overflow: hidden;
  background-color: black;
  border: 5px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

/* line 76 */
#arrow p {
  font-family: "Pictos";
  font-size: 60px;
  color: white;
  margin: 5px 3px 0 3px;
  padding: 0;
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: pointer;
}

/* line 87 */
p {
  font-family: "museo-sans-1", "museo-sans-2", helvetica, arial;
  color: #111111;
}
/* line 91 */
p.guys {
  text-align: center;
  margin: 0 auto 70px 0;
  padding: 0;
  position: relative;
  color: #333333;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
/* line 98 */
p.title-left {
  font-size: 83px;
  font-weight: 900;
  padding: 0;
  margin-top: -3px;
  display: block;
  float: left;
  letter-spacing: -0.04em;
}
/* line 107 */
p.title-right {
  font-size: 83px;
  font-weight: 900;
  padding: 0;
  margin-top: -3px;
  display: block;
  float: right;
  letter-spacing: -0.04em;
}
/* line 116 */
p.recent {
  color: #e7a933;
  font-size: 30px;
  font-weight: 100;
  position: relative;
  left: 120px;
}
/* line 123 */
p.why {
  color: #e7a933;
  font-size: 30px;
  font-weight: 100;
  bottom: -170px;
  position: relative;
  left: 120px;
}
/* line 131 */
p.video-title {
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  margin: 10px 0 0 0;
  padding: 0;
  color: #333333;
  text-align: right;
  line-height: 1.5em;
}
/* line 141 */
p.who-we-are-content {
  color: #444444;
  width: 400px;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 120px 0 0 46px;
}
/* line 149 */
p.diagram-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 0 white;
}
/* line 156 */
p.diagram-content {
  color: #444444;
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

/* line 164 */
.border-bottom {
  border-bottom: 1px solid white;
}

/* line 169 */
h2.tell-us {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  margin: 100px 0 30px -20px;
  display: block;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  line-height: 0.7em;
}

/* line 180 */
.reel h3 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin: 100px 0 30px -20px;
  display: block;
  line-height: 0.7em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 192 */
.make {
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  color: #111111;
  margin-top: 76px;
  line-height: 110%;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}
/* line 201 */
.make span {
  font-weight: 600;
  display: block;
  text-align: center;
  margin: 5px 0 0 0;
}

/* line 208 */
span.dont {
  font-size: 26px;
  font-weight: 100;
  color: #333333;
}

/* line 214 */
span.standout {
  font-weight: 900;
  color: #5d9732;
  text-shadow: 1px 1px 0 white;
}

/* line 219 */
span.standout2 {
  color: #111111;
  font-style: italic;
  text-shadow: 1px 1px 0 white;
}

/* line 225 */
.luchador {
  background: url(/images/luchador.png) no-repeat top left;
  width: 960px;
  height: 500px;
  margin-top: -60px;
  z-index: 20;
}

/* line 232 */
.eyes {
  background: url(/images/eyes.png) no-repeat 586px 206px;
  width: 960px;
  height: 500px;
}

/* line 237 */
.eyes:hover {
  background: url(/images/eyes-hover.png) no-repeat 586px 203px;
  width: 960px;
  height: 500px;
}

/* line 242 */
.contact-form {
  background: #444444;
  padding: 30px;
  height: 420px;
  width: 350px;
  margin-left: 20px;
  border: 1px solid #666666;
}

/* line 250 */
.form {
  height: 300px;
  margin-top: -80px;
}

/* line 254 */
.facebook {
  background: white;
  width: 350px;
  height: 480px;
  display: block;
  margin-left: 40px;
}

/* line 261 */
img.logo {
  width: 170px;
  height: 207px;
  display: block;
  margin-top: -65px;
  margin-left: 195px;
  margin-bottom: 0;
}

/* line 269 */
img.diagram {
  width: 960px;
  height: 190px;
  display: block;
}

/* line 274 */
.top-wrapper {
  background: black;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  top: 0;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

/* line 286 */
.chubby {
  font-size: 18px;
  font-weight: 600;
  color: #111111;
}

/* line 293 */
.title-wrapper {
  margin: 50px auto 0 auto;
  z-index: 10;
  padding-top: 10px;
  border-top: 7px solid #5d9732;
  border-bottom: 7px solid #5d9732;
  height: 85px;
  display: block;
  width: 600px;
}

/* line 303 */
.into-videos {
  margin-top: 0;
}

/* line 306 */
.nav {
  width: 688px;
  margin: 14px auto;
}

/* line 310 */
.nav ul li {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  padding: 0 10px;
}

/* line 316 */
.nav ul li.pictos {
  font-family: "Pictos";
  font-size: 14px;
  top: -3px;
  position: relative;
  color: white;
}

/* line 324 */
.nav a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 0 #2b1f0d, 2px 2px 0 #5d9732;
  cursor: pointer;
}

/* line 330 */
.nav a:hover {
  color: #5d9732;
  text-decoration: none;
  text-shadow: 1px 1px 0 #2b1f0d, 2px 2px 0 #5d9732;
  cursor: pointer;
}

/* line 336 */
a.our-reel {
  color: #5d9732;
  cursor: pointer;
}

/* line 342 */
.video {
  float: left;
  position: relative;
  margin-bottom: 30px;
}
/* line 346 */
.video span {
  color: #dddddd;
}
/* line 348 */
.video .client {
  text-align: center;
  position: absolute;
  bottom: 2px;
  left: 0px;
  width: 100%;
  padding: 15px 0;
  background: rgba(1, 1, 1, 0.7);
  color: #eeeeee;
  font-size: 13px;
}
/* line 358 */
.video a.playbutton {
  margin-left: 10px;
  padding: 6px 13px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(93, 151, 50, 0.9)), color-stop(100%, rgba(78, 127, 42, 0.9)));
  background-image: -webkit-linear-gradient(rgba(93, 151, 50, 0.9) 20%, rgba(78, 127, 42, 0.9));
  background-image: -moz-linear-gradient(rgba(93, 151, 50, 0.9) 20%, rgba(78, 127, 42, 0.9));
  background-image: -o-linear-gradient(rgba(93, 151, 50, 0.9) 20%, rgba(78, 127, 42, 0.9));
  background-image: -ms-linear-gradient(rgba(93, 151, 50, 0.9) 20%, rgba(78, 127, 42, 0.9));
  background-image: linear-gradient(rgba(93, 151, 50, 0.9) 20%, rgba(78, 127, 42, 0.9));
  color: #eeeeee;
  border: 1px solid #4e7f2a;
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.75);
}
/* line 367 */
.video a.playbutton:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #5d9732), color-stop(100%, #426b23));
  background-image: -webkit-linear-gradient(#5d9732 20%, #426b23);
  background-image: -moz-linear-gradient(#5d9732 20%, #426b23);
  background-image: -o-linear-gradient(#5d9732 20%, #426b23);
  background-image: -ms-linear-gradient(#5d9732 20%, #426b23);
  background-image: linear-gradient(#5d9732 20%, #426b23);
  color: #dddddd;
}
/* line 370 */
.video img {
  border: 1px solid #444444;
  border-bottom: 1px solid #222222;
  box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.5);
  width: 455px;
}
/* line 375 */
.video img:hover {
  border: 1px solid #222222;
  border-bottom: 1px solid #222222;
  box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.75);
}
/* line 379 */
.video:last-child {
  float: right;
}

/* line 383 */
.block-first {
  float: left;
  margin-right: 50px;
}

/* line 387 */
.block-second {
  float: left;
}

/* line 390 */
.breaker {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid white;
}

/* line 398 */
.footer p {
  text-align: center;
  margin: 20px 0;
}
/* line 401 */
.footer a {
  color: #444444;
  text-decoration: none;
}
/* line 404 */
.footer a:hover {
  color: black;
  text-decoration: none;
}
