@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/League_Gothic-webfont.eot");
  src: url("../fonts/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/League_Gothic-webfont.woff") format("woff"), url("../fonts/League_Gothic-webfont.ttf") format("truetype"), url("../fonts/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SignikaSemibold";
  src: url("Signika-Semibold-webfont.eot");
  src: url("Signika-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Signika-Semibold-webfont.woff") format("woff"), url("../fonts/Signika-Semibold-webfont.ttf") format("truetype"), url("../fonts/Signika-Semibold-webfont.svg#SignikaSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, c:/sites/lessfilms/src/stylesheets/global_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 16, c:/sites/lessfilms/src/stylesheets/global_reset.sass */
:focus {
  outline: 0;
}

/* line 19, c:/sites/lessfilms/src/stylesheets/global_reset.sass */
body {
  line-height: 1.5;
  color: black;
  background: white;
}

/* line 24, c:/sites/lessfilms/src/stylesheets/global_reset.sass */
ol, ul {
  list-style: none;
}

/* line 29, c:/sites/lessfilms/src/stylesheets/global_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 33, c:/sites/lessfilms/src/stylesheets/global_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 38, c:/sites/lessfilms/src/stylesheets/global_reset.sass */
blockquote:before, blockquote:after {
  content: "";
}

/* line 42, c:/sites/lessfilms/src/stylesheets/global_reset.sass */
q:before, q:after {
  content: "";
}

/* line 45, c:/sites/lessfilms/src/stylesheets/global_reset.sass */
blockquote, q {
  quotes: "" "";
}

/* line 21 */
html, body {
  height: 100%;
}

/* line 24 */
body {
  background: #f1f1f1;
  color: #595959;
  font-family: Tahoma;
}

/* line 29 */
h2 {
  font-family: LeagueGothicRegular;
  font-size: 50px;
  line-height: 50px;
}

/* line 34 */
a {
  color: #3f94cd;
  text-decoration: none;
}
/* line 37 */
a:hover {
  text-decoration: underline;
}

/* line 42 */
.clearfix {
  clear: both;
}

/* line 45 */
.wrapper {
  width: 1024px;
  margin: 0 auto;
  margin-top: 24px;
  min-height: 100%;
}

/* line 52 */
.header {
  width: 1024px;
}

/* line 55 */
.nav {
  float: right;
}
/* line 58 */
.nav ul li {
  display: inline-block;
  margin-right: 20px;
}
/* line 61 */
.nav ul li:last-child {
  margin-right: 0;
}
/* line 63 */
.nav ul li a {
  text-decoration: none;
  color: #666666;
}

/* line 75 */
.content {
  overflow: auto;
  padding-bottom: 0 0 150px 0;
}

/* line 79 */
.footer {
  background: white;
  color: #cacaca;
  font-size: 12px;
  text-align: center;
  position: relative;
  margin: -150px auto 0 auto;
  height: 150px;
  clear: both;
}
/* line 88 */
.footer hr {
  padding: 5px 0 0 0;
  margin: 0 0 25px 0;
  border-width: 0;
  border-bottom: dashed 1px #cacaca;
}

/* line 93 */
.footer_cells {
  margin: 0 auto;
  margin-top: 10px;
  width: 300px;
}
/* line 97 */
.footer_cells p {
  display: inline-block;
  float: left;
  text-align: left;
}
/* line 101 */
.footer_cells p:first-child {
  width: 190px;
}
/* line 103 */
.footer_cells p:last-child {
  width: 110px;
}
/* line 105 */
.footer_cells img {
  float: left;
  padding: 15px 10px 0 10px;
}

/* line 111 */
.video_sm {
  float: left;
  display: inline-block;
  margin: 25px 20px 0 0;
}
/* line 115 */
.video_sm .video_sm_top {
  display: block;
  background: #505050;
  width: 150px;
  height: 75px;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 1px #d0d0d0, 1px 0 1px #d0d0d0, -1px 0 1px #d0d0d0;
  margin: 0 0 0 1px;
  overflow: hidden;
}
/* line 124 */
.video_sm .video_sm_bottom {
  font-size: 13px;
  display: block;
  background: white;
  width: 140px;
  height: 45px;
  padding: 5px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 2px #d0d0d0, 1px 0 1px #d0d0d0, -1px 0 2px #d0d0d0;
  margin: 0 0 10px 1px;
}
/* line 134 */
.video_sm:first-child {
  margin-right: 20px;
}

/* line 139 */
.home_col {
  float: left;
  width: 485px;
}

/* line 143 */
h2.home_headline {
  margin: 75px 0 42px 0;
}

/* line 146 */
.lucha_home {
  background: url("../images/lucha_home_large_temp.png") no-repeat top center;
  margin: 0 auto;
  min-width: 1024px;
  min-height: 837px;
  height: auto;
  margin: 0 0 150px 0;
}

/* line 154 */
.hire_us_lg {
  clear: both;
  padding: 45px 1px 5px 1px;
}
