.lucha_about
  .wrapper
    = partial('_header')
    %h1.page_headline THE MAIN EVENT
    .content
      .about_col
        %h3 From The Shadows A Champion Emerges
        %p.world_changer
          Forged in the fiery underground film-wrestling rings of Florida, LessFilms brings it's unique brand of humor and delight to your project. Not to mention, we're super easy to work with as long as you go along with all of our ideas and never give us any lip. 
        %h3 Meet the World Tag Team Champions
        .team_member
          = img ('team_eric.jpg')
          %h4 Eric Darnell
          Director
          %a{:href => "http://twitter.com/#!/ericdarnell", :target => "_blank"}@ericdarnell        
          %p
            Eric makes stuff for people who want stuff. Cool stuff like videos & stuff. If you need some stuff let him know.  
        .team_member
          = img ('team_corey.jpg')
          %h4 Corey Forbus
          Producer
          %a{:href => "http://twitter.com/#!/coreylove", :target => "_blank"}@coreylove       
          %p
            Corey loves coffee. If he's not drinking coffee or making your video project happen he's likely busy breaking necks and cashing checks. 
      = partial('_foot_banner')