.lucha_about
  .wrapper
    = partial('_header')
    %h1.page_headline ONCE UPON AN KILLER FAIRY TALE...
    .content
      .about_col
        %h3 The World Changed Since We Arrived
        %p.world_changer
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet dolor a felis tempus a aliquet enim pulvinar. Etiam metus libero, congue a lacinia eu, condimentum vitae mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet dolor a felis tempus a aliquet enim pulvinar. Etiam metus libero, congue a lacinia eu, condimentum vitae mi. 
        %h3 Meet the Handsome Peeps of LessFilms
        .team_member
          = img ('team_eric.jpg')
          %h4 Eric Darnell
          Director
          %p
            Eric makes stuff for people who want stuff. Cool stuff like videos & stuff. If you need some stuff let me know. 
            %a{:href => "http://twitter.com/#!/ericdarnell", :target => "_blank"}@ericdarnell 
            for a good time. 
        .team_member
          = img ('team_corey.jpg')
          %h4 Corey Forbus
          Producer
          %p
            Corey loves coffee. If he's not drinking coffee or making your video project happen he's likely busy breaking necks and cashing checks. 
      = partial('_foot_banner')