.lucha_home
  .wrapper
    .header
      = img "logo.png"
      .nav
        %ul
          %li 
            %a{:href => "#"} Videos
          %li 
            %a{:href => "#"} Process
          %li 
            %a{:href => "#"} About
          %li 
            %a{:href => "#", :class => "main_hire_button main_hire_colors"} Hire Us
    .col_left
      %h2{:class => "home_headline"} WE PRODUCE BEAUTIFUL FILMS WITH A LOTTA' ATTITUDE...GRRRR!!!
      %p
        From the chubby guys at LessEverything, we present LessFilms. We shoot, edit and produce slammin' to chic videos for your product or service! See below or more videos.
    .col_right
      / %img{:class => "lucha_home", :src => "images/lucha_home.png"}
    .clearfix