/ Get Intro Partial
= partial('_site_intro')

/ Get rid of the footer box-shadow only on this page
:css
  .footer{box-shadow: 0 0 0;}
  
/ Start Normal Flow
.lucha_home
  .wrapper
    = partial('_header')
    .content
      .home_col
        %h1.home_headline WE PRODUCE BEAUTIFUL FILMS WITH A LOTTA' ATTITUDE...GRRRR!!!
        %p
          From the chubby guys at LessEverything, we present LessFilms. We shoot, edit and produce slammin' to chic videos for your product or service! See below or <a href="videos.html">more videos</a>.
        .video_sm
          .video_sm_top
            %a{:href => "http://www.youtube.com/v/lNFNOSzik14;autoplay=1", :class => "video"}
              = img 'info_diet_thumb_sm.jpg', :alt => "The Information Diet"
          .video_sm_bottom
            %a{:href => "http://www.youtube.com/v/lNFNOSzik14;autoplay=1", :class => "video"} "Book Promo Video"
            %br
            %a{:href => "http://www.informationdiet.com/", :target => "_blank"} The Information Diet
        .video_sm
          .video_sm_top
            %a{:href => "http://youtube.com/v/UwXoUEJiKBY;autoplay=1", :class => "video"}
              = img 'business_partners_thumb_sm.jpg', :alt => "BusinessPartners.com"
          .video_sm_bottom
            %a{:href => "http://youtube.com/v/UwXoUEJiKBY;autoplay=1", :class => "video"} "Site Marketing"
            %br
            %a{:href => "http://businesspartners.com/", :target => "_blank"} BusinessPartners.com
        .hire_us_lg
          %a{:href => "hire_us.html", :class => "gradient_button_green"} Hire Us
    .clearfix
