.wrapper
  .container
    .span-24.last
      = img 'header.png', :id=>'header'
  .content
    = img 'ribbon.png', :id=>'ribbon'
    .container
      .span-10.append-1.prepend-1
        %h3 Who should attend?
        %p 
          %span.italic Anyone involved in a startup. 
          Anyone who wants to start a business. Anyone whose curious how LessEverything got to where it's at today.
      .span-10.append-1.prepend-1.last
        %h3 What you'll learn.
        %p You'll learn all of Allan and Steve's secrets for creating such a well-know and successful business. They'll also help you avoid pitfalls they went through.
      .span-10.append-1.prepend-1
        %h3.second Why it's awesome.
        %p  
          %span.italic It's $1000, 
          and yes, we know that's not cheap, but you'll make your money back. We'll help you get better projects, clients, and build a better business.
      .span-10.append-1.prepend-1.last
        %h3.second When and where?
        %p 
          The LessMoney Workshop will take place 
          %span.italic May 20th-22nd in Panama City Beach, Florida. 
          We suggest 
          %a{:href => "http://www.kayak.com/", :target => "_blank"} Kayak.com
          , or 
          %a{:href => "http://www.southwest.com/", :target => "_blank"} Southwest 
          for finding travel deals.
      .span-24.last
        %p.limited There are only 20 tickets available, so you need to signup today!
      .span-10.prepend-7.append-7.last
        #please_click
          %a{:href => "#", :target => "_blank"} Get your ticket now
  %p.credits 
    LessMoney is put on by
    %a{:href => "http://LessEverything.com", :target => "_blank"} LessEverything.