#top
  .container.sunburst
    .span-6.prepend-9.append-9.last
      = img 'logo.png', :class=>'logo'


.container.tagline-wrapper
  %h2.tagline 
    WE MAKE GREAT VIDEOS 
    %br 
      %span.tagline-second-line DON'T ASK US TO DO ANYTHING ELSE

.container.videos-first-row
  .span-8
    .video
      %iframe.youtube-player{:allowfullscreen => "", :frameborder => "0", :height => "193", :src => "http://www.youtube.com/embed/fk0iPhxPB2k", :title => "YouTube video player", :type => "text/html", :width => "290"}
  .span-8
    .video
      %iframe.youtube-player{:allowfullscreen => "", :frameborder => "0", :height => "193", :src => "http://www.youtube.com/embed/WyqulwaDbWE", :title => "YouTube video player", :type => "text/html", :width => "290"}
  .span-8.last
    .video
      %iframe.youtube-player{:allowfullscreen => "", :frameborder => "0", :height => "193", :src => "http://www.youtube.com/embed/GPAF6Bqne8Q", :title => "YouTube video player", :type => "text/html", :width => "290"}
.container.videos-second-row
  .span-8
    .video
      %iframe.youtube-player{:allowfullscreen => "", :frameborder => "0", :height => "193", :src => "http://www.youtube.com/embed/dSxw68N3uu8", :title => "YouTube video player", :type => "text/html", :width => "290"}
  .span-8
    .video
      %iframe.youtube-player{:allowfullscreen => "", :frameborder => "0", :height => "193", :src => "http://www.youtube.com/embed/4uViAAneFuk", :title => "YouTube video player", :type => "text/html", :width => "290"}
  .span-8.last
    .video
      %iframe.youtube-player{:allowfullscreen => "", :frameborder => "0", :height => "193", :src => "http://www.youtube.com/embed/K-Y3tTBWe74", :title => "YouTube video player", :type => "text/html", :width => "290"}

.container.who-we-are
  .span-7
    %h3 WHO WE ARE
  .span-17.last
    = img 'arrow.png', :class=>'arrow'
  .span-24.last
    %p.who-description LessFilms is all about video. We make commercials, music videos, virals, documentaries... you name it, we shoot it. But that's not all. We've also been known to make a mean banana's foster on one or more occasion. We don't take ourselves too seriously when it comes to persona. We like who we are and that's who we're going to be. What we do take seriously is storytelling and the communication of ideas. You should stop reading this for a moment and check out our work. It says more than a few paragraphs ever could.
  .span-7
    %h3 PROCESS
  .span-17.last
    = img 'arrow.png', :class=>'arrow'
  .span-24.last
    %p.who-description We're easy to work with as long as you go along with all of our ideas and never give us any lip. Just sit back and let us create something awesome for you. Or you could just remind us that your the one with the money and we should lie prostrate in your presence. Either way our incomparable brand of creativity and devotion to your project ensures that your story gets told in most awesome way possible.
  .span-7
    %h3 SUMMARY
  .span-17.last
    = img 'arrow.png', :class=>'arrow'
  .span-24.last
    %p.who-description In all seriousness, telling the world about this incredible thing that your doing is what we live for. You wouldn't want us to stop living would you? Contact us right now. We are dying to hear all about you.
  .span-24.last
    .message
      %h4 TELL US ABOUT YOUR PROJECT
      :plain
        <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

      <script type="text/javascript">
      var r7p8k9 = new WufooForm();
      r7p8k9.initialize({
      'userName':'lessconf', 
      'formHash':'r7p8k9', 
      'autoResize':true,
      'height':'675', 
      'ssl':true});
      r7p8k9.display();
      </script>