.wrapper
  = partial('header_partial')
  %h1.process_headline INSANE PROCESS OF VIDEO PRODUCTION
  .content
    .process_col
      .before_after
        = img 'lucha_before_after.png'
        .top
          %h1 LETS GET IT ON!
          %h3 Features of our Video Process
          .feature_list
            %ul
              %li We discuss your product in detail
              %li You pay us to deliver a great video
              %li We'll shoot you an awesome video
              %li Your sales will go way up
        .bottom
          %h2.left Before LessFilms....
          %h2.right ...and OMG, freakin after!
          .mid
            %a{:href => "#", :class => "process_lg_hire process_lg_hire_colors"} Hire Us
          