.container#wrapper
  .span-24
    = img 'logo.png', :class=>'logo-sponsor'
  .span-11
    %h2.sponsor-header Why you should sponsor
  .span-12.append-1.last
    %p.sponsor-description Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
  .span-11
    %h2.sponsor-header We're LessEverything
  .span-12.append-1.last
    %p.sponsor-description Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
  .span-11
    %h2.sponsor-header What we're about
  .span-12.append-1.last
    %p.sponsor-description Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
  .span-11
    %h2.sponsor-header Become a sponsor
  .span-12.append-1.last
    :plain
      <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

      <script type="text/javascript">
      var r7p9r7 = new WufooForm();
      r7p9r7.initialize({
      'userName':'lessconf', 
      'formHash':'r7p9r7', 
      'autoResize':true,
      'height':'634', 
      'ssl':true});
      r7p9r7.display();
      </script>