.wrapper
  = partial('_header')
  %h1.page_headline SLAMMIN' VIDEOS FROM YOURS TRULY...
  .content
    .videos_col
      .vid_nav
        .vid_category
          .triangle
          %h3 First List Title
          %ul
            %li First List Item
        .vid_category
          .triangle
          %h3 First List Title
          %ul
            %li First List Item
      .clearfix
      .vid_thumbs
    = partial('_foot_banner')