@import compass
@import fonts
@import global_reset
@import partials/utils

// SASS Variables and Mixins -->

= centered
  margin: 0 auto

$footer_height: 150px
  
$lwidth: 1024px

= fl
  float: left
  
= fr
  float: right
  
// Element Styles -->

html, body
  height: 100%

body
  background: #F1F1F1
  color: #595959
  +SignikaLight(16px, 400, #595959)
  
h1
  +LeagueGothicRegular(50px, 400, #595959)
  line-height: 50px
  
a
  color: #3F94CD
  text-decoration: none
  &:hover
    text-decoration: underline
  
// Class Styles -->

.clearfix
  clear: both

.wrapper
  width: $lwidth
  +centered
  margin-top: 24px
  min-height: 100%
  text-align: center
    
  
.header 
  width: $lwidth
  img
    position: relative
    z-index: 2

.nav
  +fr
  ul
    li
      display: inline-block
      margin-right: 20px
      &:last-child
        margin-right: 0
      a
        text-decoration: none
        color: #666
        &:hover
          color: #999
       
.content
  overflow: auto
  padding-bottom: 0 0 $footer_height 0
  
.footer
  background: #fff
  color: #CACACA
  font-size: 13px
  text-align: center
  position: relative
  //margin: -$footer_height auto 0 auto
  margin: 0 auto
  height: $footer_height
  clear: both
  box-shadow: 0 -15px 30px #ddd
  hr
    padding: 5px 0 0 0
    margin: 0 0 25px 0
    border-width: 0
    border-bottom: dashed 1px #CACACA
.footer_cells
  +centered
  margin-top: 10px
  width: 300px
  p
    display: inline-block
    +fl
    text-align: left
    &:first-child
      width: 190px
    &:last-child
      width: 110px
  img
    +fl
    padding: 15px 10px 0 10px

// Video Styles -->
    
.video_sm
  +fl
  display: inline-block
  margin: 25px 20px 0 0
  .video_sm_top
    display: block
    background: #505050
    width: 150px
    height: 75px
    border-radius: 3px 3px 0 0
    box-shadow: 0 1px 1px #D0D0D0, 1px 0 1px #D0D0D0, -1px 0 1px #D0D0D0
    margin: 0 0 0 1px
    overflow: hidden
  .video_sm_bottom
    font-size: 13px
    display: block
    background: #fff
    width: 140px
    height: 45px
    padding: 5px
    border-radius: 0 0 3px 3px
    box-shadow: 0 2px 2px #D0D0D0, 1px 0 1px #D0D0D0, -1px 0 2px #D0D0D0
    margin: 0 0 10px 1px
  &:first-child
    margin-right: 20px
    
// Home Styles -->

.home_col
  +fl
  width: 485px

h1.home_headline
  margin: 75px 0 42px 0
  
.lucha_home
  background: url('../images/lucha_home_large.png') no-repeat top center
  +centered
  min-width: 1024px
  min-height: 837px
  height: auto

  
.hire_us_lg
  clear: both
  padding: 45px 1px 5px 1px
  
// Process Styles -->

.process_col
  text-align: center
  
h1.page_headline
  z-index: 1
  line-height: inherit
  position: relative
  margin: 0 auto -40px auto
  top: -100px

.before_after
  img
    pointer-events: none
    position: absolute
    margin: -16px 0 0 0
  .top
    border-radius: 3px 3px 0 0
    +tc
    background: #fff
    height: 307px
    h1
      +LeagueGothicRegular(100px, 400, #6FAA44)
      line-height: 100px
      padding: 25px 0 0 0
    h3
      +SignikaSemibold(20px, 600, #6FAA44)
      padding: 20px 0 10px 0
      line-height: 20px
    .feature_list
      width: 250px
      +centered
      +SignikaLight(15px, 400, #333)
      ul
        li
          &:before
            color: #6FAA44
            content: "\2713"
            +bold
            margin: 0 8px 0 0
  .bottom
    border-radius: 0 0 3px 3px
    overflow: hidden
    background: #333
    height: 87px
    h2
      +SignikaSemibold(25px, 400, #fff)
      line-height: 87px
      &.left
        +fl
        margin: 0 0 0 45px
      &.right
        +fr
        margin: 0 45px 0 0
    .mid
      +centered
      text-align: center     
      width: 300px
      height: 55px
      margin-top: 16px
      
.process_item
  +fl
  width: 225px
  display: inline-block
  +tc
  margin: 80px 40px 90px 0
  &:nth-of-type(5)
    margin-right: 0
  h3
    +SignikaSemibold(20px, 400, #6FAA44)
    display: inline-block
    +fl
    margin-top: 15px
    &:nth-of-type(1)
      color: #fff
      background: #6FAA44
      width: 32px
      height: 32px
      line-height: 32px
      border-radius: 32px
      margin-right: 10px
  p
    +tl
    clear: both
    padding: 15px 0 0 0
    +SignikaLight(15px, 400, #838383)
    line-height: 25px
    
// About Styles -->

.lucha_about
  background: url('../images/lucha_about.png') no-repeat top center
  +centered
  min-width: 1024px
  min-height: 837px
  height: auto
  
.about_col
  +SignikaLight(15px, 400, #666)
  width: 561px
  h3
    +SignikaSemibold(20px, 600, #6FAA44)
    margin: 0 0 10px 0
  .team_member
    width: 173px
    display: inline-block
    margin: 0 21px 140px 0
    +fl
    &:nth-of-type(3)
      margin-right: 0
    img
      padding: 7px
      background: #fff
      border-radius: 2px
      box-shadow: 0 2px 2px #aaa
      margin: 5px 0 20px 0
    h4
      +SignikaLight(15px, 900, #666)
    p
      +SignikaLight(15px, 400, #888)
      margin: 10px 0 0 0
    
p.world_changer
  margin: 0 0 50px 0
  
// Videos Page Styles -->

.videos_col
  background: #fff
  padding: 20px
  margin: 0 0 135px 0
  border-radius: 5px
  box-shadow: 0 2px 2px #D6D6D6
  .vid_nav
    +fl
    width: 205px
    margin: 0 15px 0 0
    .vid_category
      margin: 0 0 10px 0
      .triangle
        width: 0
        height: 0
        border-top: 5px solid transparent
        border-bottom: 5px solid transparent 
        border-left: 5px solid #3F94CD
        display: inline-block
        margin: 0 5px 0 0
        &:hover
          cursor: pointer
      h3
        +SignikaSemibold(18px, 400, #3F94CD)
        display: inline-block
        &:hover
          cursor: pointer
      li
        +SignikaLight(15px, 400, #3F94CD)
        line-height: 20px
        margin: 0 0 10px 25px
        &:before
          content: "- "
          margin: 0 0 0 -8px
      &:last-of-type
        margin-bottom: 0
  .vid_thumbs
    display: inline-block
    width: 764px
    .vid_item
      display: inline-block
      margin: 0 0 30px 0
      img
        width: 191px
        height: 115px
        margin: 0 -4px 0 0
      h3
        +SignikaLight(15px, 600, #838383)
        display: inline-block
        margin: 0 5px 0 0
      .vid_thumb_time_box
        display: inline-block
        +SignikaSemibold(13px, 400, #838383)
        line-height: 13px
        background: #F2F2F2
        border: solid #CCCCCC 1px
        border-radius: 2px
        padding: 3px
        
    .new_vid
      background: url('../images/new_vid_ribbon.png')
      width: 69px
      height: 69px
      display: inline-block
      position: absolute
      margin: -11px 0 0 -11px
      
// Hire Us Page -->

.lucha_hire_us
  background: url('../images/lucha_hire_us.png') no-repeat top center
  +centered
  min-width: 1024px
  min-height: 837px
  height: auto

// Foot Banner Partial Styles -->
    
.foot_banner
  height: 130px
  background: #333
  display: block
  clear: both
  border-radius: 5px
  margin: 0 0 50px 0
  img
    position: absolute
    margin-top: -82px
  /* HAML seems to be rendering paragraph tags imporoperly here if a header tag is nested inside it. Going with a class instead.
  .banner_text
    width: 460px
    line-height: 20px
    color: #D6D6D6
    margin: 0 auto
    padding: 0 0 0 45px
    h3
      +LeagueGothicRegular(40px, 400, #fff)
      line-height: 40px
      padding: 25px 0 0 0
      margin: 0 0 0 0
  a
    +fr
    position: relative
    top: -65px
    right: 35px