@charset "UTF-8";
/* line 14, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 110, ../../src/stylesheets/utils.sass */
.left {
  float: left;
}

/* line 113, ../../src/stylesheets/utils.sass */
.right {
  float: right;
}

/* line 129, ../../src/stylesheets/utils.sass */
.tr {
  text-align: right;
}

/* line 135, ../../src/stylesheets/utils.sass */
strong {
  font-weight: bold;
}

/* line 139, ../../src/stylesheets/utils.sass */
div {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
div:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 141, ../../src/stylesheets/utils.sass */
.c {
  clear: both;
}

/* line 210, ../../src/stylesheets/utils.sass */
.abs {
  position: absolute;
}

/* line 213, ../../src/stylesheets/utils.sass */
.rel {
  position: relative;
}

/* line 319, ../../src/stylesheets/utils.sass */
table.super_padding td {
  padding: 10px;
}

/* line 321, ../../src/stylesheets/utils.sass */
table td.linkage a {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66d198), color-stop(100%, #50a477));
  background-image: -moz-linear-gradient(top, #66d198 0%, #50a477 100%);
  background-image: linear-gradient(top, #66d198 0%, #50a477 100%);
  padding: 4px 10px;
  border: 1px solid #50a477;
  border-bottom: 2px solid #33694c;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  width: auto;
  display: inline;
}

/* line 332, ../../src/stylesheets/utils.sass */
a.buttoning {
  font-family: "museo-sans-1", "museo-sans-2";
  font-weight: 300;
  font-variant: normal;
  letter-spacing: -0.05em;
  color: white;
  display: block;
  margin: 0 0 10px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66d198), color-stop(100%, #50a477));
  background-image: -moz-linear-gradient(top, #66d198 0%, #50a477 100%);
  background-image: linear-gradient(top, #66d198 0%, #50a477 100%);
  border: 1px solid #50a477;
  border-bottom: 2px solid #33694c;
  text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 2px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
  padding: 8px 5px;
  margin: 0 15px 15px 15px;
  text-align: center;
}
/* line 314, ../../src/stylesheets/utils.sass */
a.buttoning:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #50a477), color-stop(100%, #33694c));
  background-image: -moz-linear-gradient(top, #50a477 0%, #33694c 100%);
  background-image: linear-gradient(top, #50a477 0%, #33694c 100%);
  border-bottom: 2px solid #333333;
  text-decoration: none;
}

/* line 339, ../../src/stylesheets/utils.sass */
small {
  font-size: 9px;
}

/* line 342, ../../src/stylesheets/utils.sass */
.clear {
  clear: both;
}

/* line 345, ../../src/stylesheets/utils.sass */
.tr {
  text-align: right;
}

/* line 348, ../../src/stylesheets/utils.sass */
p {
  margin: 5px 0 10px 0;
}

/* line 353, ../../src/stylesheets/utils.sass */
div {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
div:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 356, ../../src/stylesheets/utils.sass */
.c {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.c:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 359, ../../src/stylesheets/utils.sass */
.hidden {
  display: none;
}

/* line 362, ../../src/stylesheets/utils.sass */
li {
  list-style: none;
}

/* line 365, ../../src/stylesheets/utils.sass */
.bullets {
  margin: 5px 0 15px 20px;
}
/* line 367, ../../src/stylesheets/utils.sass */
.bullets li {
  list-style: disc;
}

/* line 370, ../../src/stylesheets/utils.sass */
.tr, div.tr, span.tc {
  text-align: right;
}

/* line 373, ../../src/stylesheets/utils.sass */
.tc, div.tc, span.tc, td.tc {
  text-align: center;
}

/* line 376, ../../src/stylesheets/utils.sass */
div, img, form, ul, td, th {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: left;
}
/* line 382, ../../src/stylesheets/utils.sass */
div .clear, img .clear, form .clear, ul .clear, td .clear, th .clear {
  clear: both;
}

/* line 385, ../../src/stylesheets/utils.sass */
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* line 389, ../../src/stylesheets/utils.sass */
.bullets {
  margin: 15px 0 15px 15px;
}

/* line 392, ../../src/stylesheets/utils.sass */
.no_bullets {
  list-style: none;
  margin: 0 0 0 0;
}

/* line 397, ../../src/stylesheets/utils.sass */
.bullets li {
  margin: 3px 0;
}

/* line 5, ../../src/stylesheets/application.sass */
body {
  font-family: "arial";
  margin: 0px auto;
  padding: 0px;
  color: #333333;
  font-size: 13px;
  line-height: 1.5em;
}

/* line 14, ../../src/stylesheets/application.sass */
a {
  color: #3e86c5;
}
/* line 16, ../../src/stylesheets/application.sass */
a:hover {
  color: #333333;
  text-decoration: underline;
}

/* line 20, ../../src/stylesheets/application.sass */
p {
  line-height: 1.5em;
  margin: 0 0 12px 0;
  padding: 0 0 0 0;
}

/* line 28, ../../src/stylesheets/application.sass */
#container {
  margin: 0 auto;
  padding: 0 0 0 0;
  height: 100%;
  width: 900px;
}

/* line 36, ../../src/stylesheets/application.sass */
.right_col {
  width: 260px;
  float: right;
}

/* line 40, ../../src/stylesheets/application.sass */
.left_col {
  width: 420px;
  float: left;
}

/* line 44, ../../src/stylesheets/application.sass */
#stuff {
  width: 900px;
  float: left;
}

/* line 48, ../../src/stylesheets/application.sass */
#photos {
  width: 900px;
  float: right;
}

/* line 52, ../../src/stylesheets/application.sass */
.photo-display-item {
  float: left;
}

/* line 55, ../../src/stylesheets/application.sass */
.schedule {
  border-top: 1px solid #292145;
  border-bottom: 1px solid #292145;
  background: url("/images/flags.png") repeat-x top left, url("/images/anchor.png") no-repeat 10px 70px;
  padding: 60px 20px 40px 0;
  margin: 20px 0;
}
/* line 61, ../../src/stylesheets/application.sass */
.schedule h1 {
  font-size: 30px;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}
/* line 66, ../../src/stylesheets/application.sass */
.schedule .left_col {
  margin-left: 170px;
}
/* line 68, ../../src/stylesheets/application.sass */
.schedule .quote {
  margin-top: 30px;
}
/* line 70, ../../src/stylesheets/application.sass */
.schedule .shells {
  background: url("/images/shells.png") repeat-x;
  height: 25px;
  margin-top: 10px;
  width: 130px;
}

/* line 75, ../../src/stylesheets/application.sass */
#logo {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0 0 0;
  border-bottom: 1px solid #cccccc;
  padding: 20px 0;
  font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2";
}

/* line 83, ../../src/stylesheets/application.sass */
h1 {
  margin: 0 0 0 0;
  padding: 0 0 6px 0;
  font-size: 26px;
  font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2";
  color: #c35335;
}
/* line 90, ../../src/stylesheets/application.sass */
h1.martop {
  margin-top: 30px;
}

/* line 93, ../../src/stylesheets/application.sass */
h2 {
  margin: 0 0 0 0;
  padding: 0 0 2px 0;
  font-size: 16px;
}

/* line 98, ../../src/stylesheets/application.sass */
h3 {
  margin: 0 0 0 0;
  padding: 0 0 6px 0;
  font-size: 15px;
  color: #5c7d7b;
  font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2";
}

/* line 106, ../../src/stylesheets/application.sass */
#footer {
  font-size: 12px;
  color: #666666;
}

/* line 110, ../../src/stylesheets/application.sass */
.quote {
  font-style: italic;
  color: #666666;
}
/* line 113, ../../src/stylesheets/application.sass */
.quote .who {
  font-weight: bold;
  margin: 5px 0 0 0;
  font-style: normal;
  color: #333333;
}

/* line 119, ../../src/stylesheets/application.sass */
table {
  width: 100%;
  float: left;
}
/* line 122, ../../src/stylesheets/application.sass */
table th {
  color: #777777;
}
/* line 124, ../../src/stylesheets/application.sass */
table td, table th {
  padding: 5px 8px;
  border-bottom: 1px solid #bbbbbb;
}
/* line 127, ../../src/stylesheets/application.sass */
table td {
  border-right: 1px solid #dddddd;
}
/* line 129, ../../src/stylesheets/application.sass */
table tr td:first-child {
  border-left: 1px solid #bbbbbb;
}
/* line 131, ../../src/stylesheets/application.sass */
table tr td:last-child {
  border-right: 1px solid #bbbbbb;
}

/* line 136, ../../src/stylesheets/application.sass */
.pc_img {
  float: left;
}
