.contact_form_col
  %h3 What's Your Project About?
  %form#form79.wufoo.topLabel.page{:action => "https://lessconf.wufoo.com/forms/p7p4p9/#public", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :name => "form79", :novalidate => ""}
    %ul
      %li
        %h4 Customer Info     
      %li#foli5.notranslate
        %div
          %input#Field5.field.text.medium.normal{:maxlength => "255", :name => "Field5", :onkeyup => "", :tabindex => "1", :type => "text", :onfocus => "if(this.value == 'Full Name or Company') { this.value = ''; }", :onblur => "if(this.value == '') { this.value = 'Full Name or Company'; }", :value => "Full Name or Company"}/     
      %li#foli3.notranslate
        %div
          %input#Field3.field.text.medium.normal{:maxlength => "255", :name => "Field3", :spellcheck => "false", :tabindex => "2", :type => "email", :onfocus => "if(this.value == 'Email') { this.value = ''; }", :onblur => "if(this.value == '') { this.value = 'Email'; }", :value => "Email"}/     
      %li
        %h4 Project Details     
      %li#foli6.notranslate
        %div
          %input#Field6.field.text.medium.normal{:maxlength => "255", :name => "Field6", :onkeyup => "", :tabindex => "3", :type => "text", :onfocus => "if(this.value == 'Project Title') { this.value = ''; }", :onblur => "if(this.value == '') { this.value = 'Project Title'; }", :value => "Project Title"}/      
      %li#foli7.notranslate
        %div
          %textarea#Field7.field.textarea.medium.normal{:name => "Field7", :onkeyup => "", :rows => "5", :spellcheck => "true", :tabindex => "4", :onfocus => "if(this.value == 'Project Description') { this.value = ''; }", :onblur => "if(this.value == '') { this.value = 'Project Description'; }"}
            Project Description
      %li
        %h4 Project Scope            
      %li#foli12.notranslate
        %div
          %select#Field12.field.select.medium{:name => "Field12", :tabindex => "6"}
            %option{:selected => "selected", :value => "$5,000 - $10,000"}
              $5,000 - $10,000
            %option{:value => "$10,000 - $30,000"}
              $10,000 - $30,000
            %option{:value => "$30,000 - $100,000"}
              $30,000 - $100,000
            %option{:value => "+$100,000"}
              +$100,000
      %li#foli10.notranslate
        %div
          %input#Field10.field.text.medium.normal{:maxlength => "255", :name => "Field10", :onkeyup => "", :tabindex => "6", :type => "text", :onfocus => "if(this.value == 'Turnaround Date') { this.value = ''; }", :onblur => "if(this.value == '') { this.value = 'Turnaround Date'; }", :value => "Turnaround Date"}/
      %li
        %h4.ready Ready to Rumble? Hit the Bell!
      %li.buttons
        %div
          %input#saveForm.btTxt.submit.gradient_green_button{:name => "saveForm", :type => "submit", :value => "Submit"}/      
      %li.hide
        %label{:for => "comment"} Do Not Fill This Out
        %textarea#comment{:cols => "1", :name => "comment", :rows => "1"}
        %input#idstamp{:name => "idstamp", :type => "hidden", :value => "ly+pA0DLyyKgZLtnofCZ2pa4BKxYw1HFNhDBwpC0mLg="}/