.footer
  %hr
  &copy; 2012 LessFilms. All rights reserved.
  .footer_cells
    %p
      LessFIlms is another project brought to you by the handsome fellows of LessEverything.
    %p
      %a{:href => "http://lesseverything.com/", :target => "_blank"}
        = img("copy_logo.png")