.foot_banner
  = img 'lucha_small_banner.png'
  .banner_text 
    %h3 ...SO WHAT ARE YOU WAITING FOR CHAMP?
    Telling the world about this incredible thing you're doing is what we live for. So let's start shooting today!
  %a{:href => "hire_us.html", :class => "gradient_button_green"} Hire Us