.foot_banner
  = img 'lucha_small_banner.png'
  .banner_text 
    %h3 ...SO WHAT ARE YOU WAITING FOR CHAMP?
    Lorem ipsum dolor sit amet, maiores ornare ac ferme nt at nunc. Quam euismod sem ets. Lets start shooting today!
  %a{:href => "#", :class => "gradient_button_green"} Hire Us