.header
  = link img("logo.png"), "http://lessfilms.com" 
  .nav
    %ul
      %li 
        = link "Videos"
      %li 
        = link "Process"
      %li 
        = link "About"
      %li 
        %a{:href => "hire_us.html", :class => "gradient_button_white"} Hire Us