/ Home Intro
/= javascripts ('jquery.easing.1.3')
/= javascripts ('site_intro_slide_up')
/= javascripts ('site_intro_slide_down')
= javascripts ('site_intro_fade_in')

.intro_vid
  %video{:autoplay => "autoplay", :width => "1410px"}
    %source{:src => "videos/Lucha_Pop_Up_1080.m4v", :type => "video/mp4"}
    %source{:src => "videos/Lucha_Pop_Up_1080.webm", :type => "video/webm"}