.header
  = link img("logo.png"), "index.html" 
  .nav
    %ul
      %li 
        %a{:href => "#"} Videos
      %li 
        = link "Process"
      %li 
        %a{:href => "#"} About
      %li 
        %a{:href => "#", :class => "main_hire_button main_hire_colors"} Hire Us