!!! 5
%html
  %head
    %title LessFilms
    = stylesheets :screen, :style
    <script type="text/javascript" src="http://use.typekit.com/qmc3hyg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    = yield