!!!
%html
  %head
    %title LessFilms
    %link{:type => 'text/css', :rel => 'stylesheet', :href => 'stylesheets/screen.css'}
    %link{:type => 'text/css', :rel => 'stylesheet', :href => 'stylesheets/buttons.css'}
  %body
    = yield