!!! 5
%html
  %head
    %title LessMoney Workshop - Brought to you by the guys at LessEverything
    = stylesheets :screen, :style
    <script type="text/javascript" src="http://use.typekit.com/keo5iru.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    = yield